<footer>
  <div class="footer-content">
    <p>&copy; 2025. Proyecto TFG Pablo de Abajo</p>
    <div class="redes-sociales">
      <a href="https://www.instagram.com/paabliitoo.da" target="_blank" title="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://x.com/pablitodaa" target="_blank" title="Twitter/X">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.facebook.com/share/1Bfq3j3zuT/?mibextid=wwXlfr" target="_blank" title="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</footer>
