<header>
  <h1>TFP - PDAP</h1>
  <nav>
    <ul>
      <li><a [routerLink]="['/login']">Acceder</a></li>
      <li><a [routerLink]="['/register']">Registrarme</a></li>
    </ul>
  </nav>
</header>

<section class="introduccion">
  <h2>¡Organiza tu vida en un solo lugar!</h2>
  <p>
    Bienvenido a <strong>Planificador Diario</strong>, tu nueva herramienta
    para mejorar tu organización personal. Descubre cómo puedes gestionar tu
    calendario, nutrición, pensamientos, objetivos y ejercicio de manera
    sencilla y desde una única aplicación.
  </p>
  <p>¿Qué puedes hacer aquí?</p>
  <ul>
    <li>
      <strong>Calendario:</strong> Organiza tus eventos personales y
      laborales.
    </li>
    <li>
      <strong>Rutina:</strong> Planifica y registra tus ejercicios y
      deportes diarios.
    </li>
    <li>
      <strong>Nutrición:</strong> Lleva un control de tus comidas, calorías
      y progresos físicos.
    </li>
    <li>
      <strong>Objetivos:</strong> Define, prioriza y sigue tus metas
      personales.
    </li>
    <li>
      <strong>Diario:</strong> Expresa tus pensamientos y guarda recuerdos
      de cada día.
    </li>
    <li><strong>Pendiente:</strong> ¡Próximamente nuevas funciones!</li>
  </ul>
</section>

<section class="contenido">
  <h2>Servicios</h2>
  <p>
    Explora las herramientas que te ofrecemos para mejorar tu día a día:
  </p>
  <div class="servicios-container">
    <div class="servicios">
      <div class="servicio">
        <h4>Calendario</h4>
        <p>
          Visualiza tu mes de un vistazo y apunta tus eventos personales,
          laborales o citas importantes. Nunca olvides una fecha relevante.
        </p>
      </div>
      <div class="servicio">
        <h4>Rutina</h4>
        <p>
          Planifica tus rutinas de ejercicio, registra tus progresos diarios
          y añade cualquier deporte que practiques. Ideal para gimnasio,
          calistenia o cualquier actividad física.
        </p>
      </div>
      <div class="servicio">
        <h4>Nutrición</h4>
        <p>
          Controla tus medidas corporales, calcula tus calorías diarias y
          registra tus comidas y macronutrientes para alcanzar tus objetivos
          nutricionales.
        </p>
      </div>
    </div>
    <div class="servicios">
      <div class="servicio">
        <h4>Objetivos</h4>
        <p>
          Define tus metas, asigna prioridades y lleva un seguimiento de tu
          progreso. Organiza tus propósitos a corto, medio y largo plazo.
        </p>
      </div>
      <div class="servicio">
        <h4>Diario</h4>
        <p>
          Escribe tus pensamientos, reflexiones o cualquier cosa que quieras
          recordar. Un espacio privado para expresarte cada día.
        </p>
      </div>
      <div class="servicio">
        <h4>Pendiente</h4>
        <p>
          ¡Muy pronto añadiremos nuevas funciones para hacer tu experiencia
          aún más completa!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="informacion">

</section>


<footer>
  <div class="footer-content">
    <p>&copy; 2025. Proyecto TFG Pablo de Abajo</p>
    <div class="redes-sociales">
      <a href="https://www.instagram.com/paabliitoo.da" target="_blank" title="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://x.com/pablitodaa" target="_blank" title="Twitter/X">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.facebook.com/share/1Bfq3j3zuT/?mibextid=wwXlfr" target="_blank" title="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</footer>
